/Subtitle/SubtitleSource103/.vs
/Subtitle/SubtitleSource103/Subtitle/obj
/Subtitle/SubtitleSource103/Subtitle/bin
Subtitle/MSCTranslateChs/.vs/
Subtitle/MSCTranslateChs/MSCTranslateChs/bin/Debug/
Subtitle/MSCTranslateChs/MSCTranslateChs/obj/
MSCTranslateChs/.vs/
MSCTranslateChs/MSCTranslateChs/bin/
MSCTranslateChs/MSCTranslateChs/obj/
